<h2>Edit Profile</h2>

<%= simple_form_for(@patient, url: '/patients/update', html: { method: :put }) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :last_name%>
    <%= f.input :first_name %>
    <%= f.input :gender, required: true,
                collection: ['Female','Male', 'Unavailable'] %>
    <%= f.input :birthday, as: :date, start_year: Date.today.year - 90, discard_hour: true,
                end_year: Date.today.year - 12, order: [:month, :day, :year]  %>
  </div>
  </br>
  <div class="form-actions">
    <%= f.button :submit, "Update", :class => 'btn btn-primary col-1'%>
  </div>
<% end %>
</br>
<div>
  <%= link_to "Back", :back %>
</div>